body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    color: #ccc;
}

header {
    /* background-color: #333; */
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 2em;
    text-align: center;
    
}

#channelList {
    margin-bottom: 20px;
}

#channels {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}

.channel-item {
    /* background-color: #ddd; */
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.channel-item:hover {
    background-color: #494343;
    border-radius: 20px;
}

.channel-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 10px;
    filter: drop-shadow(2px 2px 20px);
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    width: auto;
}

body {
    font-family: Arial, sans-serif;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
}
.grid-item {
    position: relative;
    cursor: pointer;
}
.grid-item img {
    width: 100%;
    height: auto;
    display: block;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}
.modal-content {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 800px;
}
.modal-content iframe {
    width: 100%;
    height: 450px;
}
.close, .fullscreen {
    position: absolute;
    top: 10px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
.close {
    right: 20px;
    color: #fdfdfd;
}
.fullscreen {
    right: 10px;
    color: #ff0000;
}

.pluto-tv-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80vh;
    max-width: 1000px;
    background-color: #000;
    margin: 10%;
    
}
.pluto-tv-container iframe {
  
    width: 100%;
    height: 100%;
    border: none;
}

footer {
    text-align: center;
}